.App__2st-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: center;
  height: 200vh;
  width: 100%;
  /*background-image: url(../img/back-react.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  */
  -ms-flex-flow: row wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  position: relative;
  overflow: hidden;
}

.App__2st-slide::before {
  content: '';
  position: absolute;
  top: 0px;
  width: 0;
  height: 0;
  border-bottom: 5vw solid rgba(171, 244, 255, 0.05);
  border-right: 100vw solid black;
  overflow: hidden;
  z-index: 2;
}

.App__2st-slide::after {
  content: '';
  position: absolute;
  top: 40%;
  width: 0;
  height: 0;
  border-bottom: 5vw solid rgb(255, 255, 255);
  border-right: 100vw solid rgba(171, 244, 255, 0.25);
  overflow: hidden;
}

.App__2st-slide_about {
  width: 100%;
  height: 40%;
  -webkit-box-ordinal-group: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App__2st-slide_about--color {
  background-color: rgba(171, 244, 255, 0.25);
}

.App-logo {
  -webkit-animation: logo infinite 20s linear;
  animation: logo infinite 20s linear;
  width: 50%;
  height: 50%;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.App__2st-slide_text {
  display: block;
  font-family: 'Comfortaa', cursive;
  color: rgb(253, 255, 255);
  width: 450px;
  height: auto;
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  -webkit-animation: App__2st-slide_about 1s forwards linear;
  animation: App__2st-slide_about 1s forwards linear;
  text-transform: capitalize;
}

.App__2st-slide_imageHtmlCssJs {
  width: 50px;
  height: 35%;
  background-image: url(../img/web-trifecta_html5_css3_js-strict.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 850px) {
  .App__2st-slide_imageHtmlCssJs {
    margin-left: 0%;
  }
}

@media screen and (max-width: 770px) {
  video {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .App__2st-slide_imageHtmlCssJs {
    margin-left: 0%;
  }
  .App__2st-slide_about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes logo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes App__2st-slide_about {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes App__2st-slide_about {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 0%;
  }
}